/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding-top: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #000;
    border-bottom: 0.125em solid #333;
    list-style-type: none;
}

/* Navbar Link Styles */
.navbar-brand, .nav-link {
    color: #000;
    text-decoration: none;
}

/* Navbar Link Hover Effects */
.navbar-brand:hover, .nav-link:hover {
    color: #555;
}

/* Navbar List Item Styles */
.navbar-nav, .navbar-nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Hide Pseudo-elements in Navbar List */
.navbar-nav li::before {
    content: none;
}

/* Navbar Image Styles */
.navbar-img {
    height: 7vh;
    width: auto;
    align-self: center;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 0px;
    right: 0;
    position: fixed;
}

/* Main Container Styles */
.container {
    background-color: #fff;
    padding: 1.25em;
    border-radius: 0.3125em;
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.1);
    margin-top: 1.875em;
}

/* Heading Styles */
h2 {
    color: #000;
    margin-bottom: 0.625em;
}

/* Unordered List Styles */
ul {
    padding-left: 1.25em;
    list-style-type: none;
}

/* List Item Styles */
li {
    margin-bottom: 0.625em;
    padding-left: 0.9375em;
    position: relative;
}

/* List Item Marker Styles */
li::before {
    content: '';
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Section Margin Styles */
section {
    margin-bottom: 2.5em;
}

/* Education Page Accordion Styles */
#educationAccordion .btn-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* Accordion Link Hover and Focus Styles */
#educationAccordion .btn-link:hover,
#educationAccordion .btn-link:focus {
    text-decoration: none;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 48em) {
    .navbar {
        padding: 0.625em 0.9375em;
    }
    
    .navbar-img {
        height: 9vh;
    }
}
